<div class="card mb-3 mt-3" id="allmaps-sidebar" data-document-id="<%= @document.id %>" data-iiif-manifest="<%= @document.iiif_manifest_url %>">
  <div class="card-header">
    <h2 class="mb-0 h6">Map Overlay</h2>
  </div>

  <div class="card-body" id="georeferencing">
    <% if @document.sidecar_allmaps.georeferenced? %>
      <div id="georef_present">
        <ul>
          <li><%= link_to "View within the Allmaps viewer", 'https://viewer.allmaps.org/?url=https://annotations.allmaps.org/?url=' + @document.iiif_manifest_url, target: '_blank' %></li> 
          <li><%= link_to "Edit map control points with Allmaps editor", 'https://editor.allmaps.org/#/collection?url=' + @document.iiif_manifest_url, target: '_blank' %></li>
        </ul>
      </div>
    <% else %>    
      <%# content will be updated via updateGeorefLinks(); %>
      <div id="georef_loading">
        Create georeferenced map overlay with Allmaps
      </div>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <small>
      <a href="https://allmaps.org" class="text-decoration-none text-dark">
        <%= image_tag 'blacklight/allmaps/allmaps-logo.svg', alt: 'Allmaps', height:"20" %>
        Allmaps
      </a>
    </small>
  </div>
</div>